@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
}

:root {
    --main-green: #7db46cff;
    --main-radius: 10px;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

h2 {
    font-size: 2.5rem;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.fire {
    background-color: #fd7d24;
}

.grass {
    background-color: rgb(155, 204, 80);
}

.water {
    background-color: rgb(69, 146, 196);
}

.poison {
    background-color: rgb(185, 127, 201);
}

.rock {
    background-color: rgb(163, 140, 33);
}

.ghost {
    background-color: rgb(123, 98, 163);
}

.electric {
    background-color: rgb(238, 213, 53);
}

.bug {
    background-color: rgb(114, 159, 63);
}

.normal {
    background-color: rgb(164, 172, 175);
}

.fairy {
    background-color: rgb(253, 185, 233);
}

.psychic {
    background-color: rgb(243, 102, 185);
}

.ground {
    background-color: rgb(171, 152, 66);
}

.fighting {
    background-color: rgb(213, 103, 35);
}

.steel {
    background-color: rgb(158, 183, 184);
}

.dragon {
    background-color: rgb(241, 110, 87);
}

.ice {
    background-color: rgb(81, 196, 231);
}

.dark {
    background-color: rgb(112, 112, 112);
}

.flying {
    background-color: rgb(189, 185, 184);
}

.none {
    display: none;
}

.loader {
    animation: spin 2s linear infinite;
    aspect-ratio: 1/1;
    background-position: center;
    background-repeat: no-repeat;
    background: url(./assets/Pokemon.svg);
    border-radius: 50%;
    border: 16px solid #000000;
    border-top: 16px solid #3498db;
    max-width: 300px;
    width: 200px;
    left: 50%;
    position: absolute;
    top: 50%;
    translate: -50% -50%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
